* text=auto
*.zip filter=lfs diff=lfs merge=lfs -text
C:/Users/User/Documents/GitHub/Education-FMI-PU/Университет/Софтуерно[[:space:]]инженерство[[:space:]]и[[:space:]]технологии/ДИ/Моята[[:space:]]дипломна[[:space:]]работа/flutter_notes.zip filter=lfs diff=lfs merge=lfs -text
C:/Users/User/Documents/GitHub/Education-FMI-PU/Университет/Софтуерно[[:space:]]инженерство[[:space:]]и[[:space:]]технологии/JavaScript[[:space:]]рамки[[:space:]]за[[:space:]]изграждане[[:space:]]на[[:space:]]клиентски[[:space:]]приложения/Упражнения/st-2026-nextjs.zip filter=lfs diff=lfs merge=lfs -text
C:/Users/User/Documents/GitHub/Education-FMI-PU/Университет/Информатика/4-ти[[:space:]]курс/Въведение[[:space:]]в[[:space:]]блокчейн[[:space:]]и[[:space:]]проектирането[[:space:]]на[[:space:]]крипто[[:space:]]валути/SolidityCode_12.05.2023.zip filter=lfs diff=lfs merge=lfs -text
C:/Users/User/Documents/GitHub/Education-FMI-PU/Университет/Информатика/3-ти[[:space:]]курс/Проектиране[[:space:]]и[[:space:]]управление[[:space:]]на[[:space:]]локални[[:space:]]компютърни[[:space:]]мрежи/Zad2/project-files/dynamips/097a216c-f738-4b07-a0c1-a4b332d09f5f/c3725_i1_ram filter=lfs diff=lfs merge=lfs -text
